footer{
    padding: 1em 0;
    text-align: center;
    
    

    
}

// .social-icons{
//     display: flex;
//     justify-content: space-around;
 
// }

.social-icon{
    width: 20%;
    border-radius: 100px;
 }

 .copyright{
    line-height: 100px;
 }

 .follow-me-txt{
    line-height: 100px;

 }

 
