  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Merriweather:wght@300&family=PT+Sans:wght@700&family=Rakkas&display=swap');

  $ff-s: 'Merriweather', serif;
  $ff-ss: 'four Caps', sans-serif;
  
  $fw-n: 400;
  $fw-b: 900;

//   $letter-spacing: 10px;
@mixin sans-serif($fs, $ls: .15em, $color: $dark-gray, $tt:uppercase, $lh:1 ){
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    text-transform: $tt;
    line-height: $lh;
    font-family: $ff-ss;
    font-weight: $fw-n;
}